@use 'src/styles/vars';


.logout-button {
  // position: absolute;
  // top: 50px;
  // left: 10px;
  color: vars.$grey;
  font-family: vars.$main-font;
  cursor: pointer;
    &:hover {
      color: vars.$white;
    }
}
