@use 'src/styles/vars';

.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: vars.$grey;
  font-family: vars.$main-font;
  &-title {
    font-size: 2em;
  }

  &-text {
    margin-top: 1em;
  }
}
