@use 'src/styles/vars';

.loginForm {

  width: 50%;
  height: 300px;
  background-color: vars.$black;
  border: solid 2px none;
  border-radius: vars.$radius;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: inset 1px 1px 5px rgb(107, 107, 107), inset -1px -1px 5px rgb(24, 24, 24);

  &-form {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &-label {
    font-size: 0.7rem;
  }

  &-input{
    width: 100%;
    margin-top: 0.2rem;
  }

  &-link {
    font-size: 0.9rem;
  }
}
