@use 'src/styles/vars';

.link-box {

  display: flex;
  height: 90px;
  background-color: transparent;
  border: solid 2px none;
  border-radius: vars.$radius;
  box-shadow: inset 1px 1px 5px rgb(107, 107, 107), inset -1px -1px 5px rgb(24, 24, 24);
  // margin-bottom: 0.5rem;

  &:hover {
    box-shadow: inset 3px 3px 5px rgb(90, 90, 90), inset -1px -1px 5px rgb(107, 107, 107);
    // background-color: rgba(255, 255, 255, 0.007);
    background: radial-gradient(rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.116));

  }

  &__image {
    object-fit: cover;
    width: 90px;
    height: 90px;
    position: relative;
    z-index: -2;
    border-radius: vars.$radius 0 0 vars.$radius;
    
  }

  &__div-image {
    position: relative;
    z-index: -1;
    float: left;
  }

  &__text {
        position: relative;
    z-index: -2;
    width: 240px;
    padding: 0.5rem 0;
    color: vars.$grey;
    border-radius: 0 vars.$radius vars.$radius 0;
    box-shadow: inset 2px 0 3px 0px rgb(107, 107, 107), inset 0px 0 0 0 rgb(107, 107, 107);
    // &:hover {
    //   box-shadow: inset 2px 0 3px 0 rgb(58, 58, 58);
    // }

    &-p {
      font-family: vars.$link-font;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding: 0 0.8rem 0.5rem;
      font-size: 0.8rem;
      &--title {
        color: vars.$white;
        font-weight: 700;
      }

      &--description {
        color: vars.$white;
        font-weight: 400;
      }

      &--source {
        color: #c2c2c2;
        font-weight: 300;
      }

      &--date {
        color: vars.$darkgrey;
        font-weight: 300;
      }
    }
  }
}
