@use 'src/styles/vars';

.category-page {

    &__name {
      font-family: vars.$main-font;
      text-align: center;
      margin: 2rem 0;
      font-size: 2rem;
      text-transform: uppercase;
      background-color: #41414175;
      color: transparent;
      text-shadow: 1px 1px 1px rgb(90, 90, 90);
      -webkit-background-clip: text;
        -moz-background-clip: text;
              background-clip: text;
    }

  &--fixed-components {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 532px;
    margin: auto;
  }

}
