@use 'src/styles/vars';

.header {
  position: absolute;
  top: 14px;
  left: 10px;
  text-align: center;

    &--index {
        position: static;
        margin-top: 10px;
    }

  &-title {
    font-family: vars.$main-font;
    font-size: 2rem;
    font-weight: 400;
    background-color: #f0f0f070;
    color: transparent;
    text-shadow: 0.5px 0.5px 1px rgb(255, 255, 255);
    -webkit-background-clip: text;
      -moz-background-clip: text;
            background-clip: text;
  }
}
