// COLORS
$background-color: #0F0F0F;
$title-color: #F0F0F0;
$white-color: #fafafa;
$lightblack-color: #333;
$grey-color: #666;
$lightgrey-color: #888;

// FONTS
$main-font: 'Amiri', serif;
$category-font: 'DM Serif Display', serif;
