@use 'reset';
@use 'vars';

body {

  cursor: default;
  background-color: #0f0f0f;
  font-family: sans-serif;
  &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.form {
  width: 50%;
  height: 350px;
  background-color: vars.$black;
  border: solid 2px none;
  border-radius: vars.$radius;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: inset 1px 1px 5px rgb(107, 107, 107), inset -1px -1px 5px rgb(24, 24, 24);

  &__index {
    width: 532px;
    margin-top: 10vh;
  }

  &-form {
    // width: 50%;
    // height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &-label {
    // font-size: 0.7rem;
  }

  &-input{
    margin: 8px;
  }

  &-link {
    font-size: 0.9rem;
  }
}

.login-form {
  height: 180px;
}

.signup-form {
  height: 250px;
}

label {
  font-family: vars.$main-font;
  font-size: 0.8rem;
  color: vars.$white;
  display: block;
  cursor: default;

}

select {
  width: 250px;
  margin-top: 0.5rem;
  text-align: center;
  text-align-last: center;
  font-family: vars.$main-font;
  background-color: #ddd;
}

.select {
  &-label {
    margin-top: 0.5rem;
  }
}

input {
  display: block;
  width: 250px;
  background-color: #ddd;
  border: 1px; 
  border-radius: 2px;
  padding: 6px 10px;
  // margin-bottom: 8px;
  box-sizing: border-box;
  box-shadow: inset 2px 2px 5px rgb(160, 160, 160), inset -2px -2px 5px rgb(250, 250, 250);

  -webkit-appearance: none;
  &::placeholder {color: vars.$placeholder;}
}

.button {
  background-color: #222222;
  border: 1px solid none;
  border-radius: 5px;
  padding: 8px;
  // margin-top: 1rem;
  color: vars.$grey;
  font-size: 1rem;
  box-shadow: inset 1px 1px 3px #b2b2b2, inset -1px -1px 3px rgb(15, 15, 15);
}

.link {
  color: vars.$grey;
  margin: 1rem;
}


.message {

  &-div {
    width: 90%;
    padding: 0 0 0.5rem;;
  }

  &-text {
    text-align: center;
    font-family: vars.$main-font;
  }
}

.errorMessage {
  font-family: vars.$main-font;
  color: rgb(255, 20, 20);

  &--delete-category{
    margin-top: 1rem;
  }

}

.confirmationMessage {
  font-family: vars.$main-font;
  color: rgb(125, 255, 125);

  &__categories-page {
    margin-top: 2rem; 
    padding: 0.2rem 0;
  }

  &__category-page {
    text-align: center;
    padding: 2.5rem 0 2.525rem;
  }

}

.formMessage {
  color: vars.$grey;
  margin-top: 1rem;
}

.newInput {

  text-align: center;
  // height: 100px;
  // margin-top: 0.2rem;

    &-close {
      margin: 1rem auto;
      color: vars.$grey;
      font-family: vars.$main-font;
      text-align: center;
      cursor: pointer;

      &--cancel{
        margin-top: 0rem;
        margin-bottom: 0rem;
      }
    }
}




@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
